header#page-header.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header.clearfix
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.retina(href='/proiect')
				img(alt='10 Negri Mititei', src='/images/logo-10-negri-mititei.png')

		.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li.class
					a(href='/proiect/uno') Proiect
				li.class
					a(href='/echipa') Echipa
				li.class
					a(href='/contact') Contact
//- /#page-header
