mixin header(pagesObj, name)
	header#page-header.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.retina(href='/proiect')
					img(alt='10 Negri Mititei', src='/images/svg/logo-10nm.svg')

			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					- var pagesArray = ['uno', 'doina', 'trica', 'quad', 'cincu', 'schatzi', 'septimiu', 'octi', 'novo', 'deca'];
					each val, index in pagesArray
						if ( pagesObj.hasOwnProperty(val) )
							- var css = (val.toLowerCase() == name.toLowerCase()) ? 'active' : ''
							li
								a.b-link(class='#{css}', href='/proiect/#{val}') #{index + 1}
						else
							li
								span.navbar-text #{index + 1}
	//- /#page-header
