footer#page-footer
	.container
		p
			| Urmareste proiectul pe <a href="https://www.facebook.com/10NegriMititei">Facebook</a>
//- /#page-footer

script(src="/libs/modernizr.custom.js")
script(src="/libs/jquery-1.10.1.min.js")
script(src="/libs/response-0.7.8.min.js")
script(src="/libs/bootstrap.min.js")
script(src="/libs/jquery.slides.min.js")
script(src="/js/main.js")
