include includes/head
	body
		include includes/page-header
		mixin header(pages, '')

		section.container
			include includes/logo

			h1.b-heading__subtitle.text-center
				| 10 Negri Mititei pleacă în lume<br>
				| să colecţioneze fapte bune
			br

			p Cei 10 Negri Mititei pleacă în lume să colecţioneze gânduri curate, zâmbete şi fapte bune. Sunt negri, dar nu de supărare. Nici nu vor muri la înot, mâncând ouă sau mergând la teatru. Din contră, când îşi vor termina călătoriile (dacă se vor finaliza vreodată), vor fi coloraţi de la toate zâmbetele adunate.
			p Cei 10 Negri Mititei sunt foarte sociabili şi adoră să cunoască oameni. Aşadar, ei se vor plimba de la o persoană la alta, din mână-n mână, cu condiţia ca în locurile care poposesc să colecteze fapte bune. Nu sunt pretenţioşi, nu se aşteaptă la lucruri măreţe, ci vor doar să ne aducă aminte că zâmbim mai uşor atunci când celălalt zâmbeşte. Mai mult, ei pot spune “Mulţumesc!” în locul tău. Dacă cineva te-a ajutat cândva şi vrei să-i mulţumeşti într-un mod deosebit şi neconvenţional, oferă-i un negru mititel!
			br

			section.index-steps
				h1.b-heading__subtitle.text-center Ce trebuie sa faci?
				p Oricine poate primi un negru mititel, cu condiţia să facă o faptă bună şi să-l ofere mai departe altor oameni. Pentru a te alătura acestui proiect pufoşenios, trebuie doar să urmezi câţiva paşi:
				.row
					.col-sm-4
						.thumbnail
							span.nr.bold 1
							.caption
								h3 Contacteaza-ne
								p Ne anunţi că vrei să găzduieşti un negru mititel în schimbul unei fapte bune
					.col-sm-4
						.thumbnail
							span.nr.bold 2
							.caption
								h3 Fotografiaza
								p Ne trimiţi o poză din timpul vizitei negrului mititel
					.col-sm-4
						.thumbnail
							span.nr.bold 3
							.caption
								h3 Da mai departe
								p Dăruieşti negrul mititel unei persoane noi, cu promisiunea că şi aceasta va face o faptă bună

			section.index-steps
				h1.b-heading__subtitle.text-center Proiectul este realizat de
				.row
					.col-sm-6
						.thumbnail
							img.img-circle(src='http://lorempixel.com/200/200')
							.caption
								h3 Lia Radoi
								p Descriere mai detaliata despre Lia, si eventual link catre Facebook
					.col-sm-6
						.thumbnail
							img.img-circle(src='http://lorempixel.com/200/200')
							.caption
								h3 Alexandra Palconi
								p Alexandra, probabil si la tine ar trebui ceva descriere, cu un link catre blogul tau

		include includes/page-footer
