include includes/head
	body
		include includes/page-header

		section.container

			//- Page title
			header.b-heading
				h1.b-heading__title
					= name
				strong.b-heading__subtitle
					= details.textIntro
				p.b-heading__descr
					= details.textDescription

			//- Slideshow
			ul#details-slideshow.is-js-hidden
				each val, index in details.images
					- var css = (index > 0) ? 'is-js-shown' : ''
					li(class='#{css}')
						div.image-wrapper
							img.img-responsive(src='/images/#{details.imagesFolder}/#{val.filename}', alt='')
							p.caption
								= val.caption

			//- Stories
			ul.b-listing
				each val, index in details.stories
					li
						strong
							= val.name
						p
							= val.description

		include includes/page-footer
