body {
	padding-top: 100px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
h1 {
	text-transform: uppercase;
	letter-spacing: -5px;
}
.bold,
h1,
h2 {
	font-weight: 900;
}

/* Header */
#page-header {
	/*border-bottom: 2px rgba(0, 0, 0, 0.02) solid;*/
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
	#page-header .navbar-nav .navbar-text,
	#page-header .navbar-nav a {
		padding: 0;
		margin: 10px;
		text-transform: uppercase;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		border-radius: 50%;
		background-color: #000;
		color: #fff;
		font-size: 18px;
	}
	#page-header .navbar-nav a:hover {
		background-color: #007582;
	}
	#page-header .navbar-nav a.active {
		background-color: #02cae0;
	}
	#page-header .navbar-nav .navbar-text {
		background-color: #aaa;
	}
	.navbar-brand {
		height: auto;
		margin-left: 20px;
	}
	.navbar-toggle {
		margin: 30px;
	}

/* Details page */
.b-heading {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px #eee dashed;
	text-align: center;
}
	.b-heading__title {
		font-size: 8em;
		text-transform: uppercase;
	}
	.b-heading__subtitle {
		font-size: 30px;
		text-transform: uppercase;
		line-height: 1;
	}
	.b-heading__descr {
		font-size: 1.5em;
		width: 74%;
		margin: 0 auto;
		margin-top: 1em;
	}

/* Details carousel */
.caption-background {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	height: 110px;
}
.carousel-caption p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.b-date {
	text-align: left;
	text-transform: uppercase;
	line-height: 1;
}
	.b-date__day {
		display: block;
		font-size: 32px;
		color: #666;
	}
	.b-date__month {
		display: block;
		font-size: 12px;
		letter-spacing: 6px;
	}
	.b-date__year {
		display: block;
		font-size: 16px;
		color: #aaa;
	}

/* Footer */
#page-footer {
	background-color: #36424d;
	color: #fff;
	padding: 3em 0;
	margin-top: 3em;
	text-align: center;
}
