body {
	padding-top: 100px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}
h1 {
	text-transform: uppercase;
}
.bold,
h1,
h2 {
	font-weight: 900;
}

/* Header */
#page-header {
	/*border-bottom: 2px rgba(0, 0, 0, 0.02) solid;*/
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
	#page-header .navbar-nav .navbar-text,
	#page-header .navbar-nav a {
		padding: 0;
		margin: 10px 5px;
		text-transform: uppercase;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 42px;
		border-radius: 50%;
		color: #000;
		font-size: 16px;
		display: inline-block;
		border: 2px #000 solid;
		padding: 2px;

		-webkit-transition: all 30ms ease-out;
		-moz-transition: all 30ms ease-out;
		-o-transition: all 30ms ease-out;
		transition: all 30ms ease-out;
	}
	@media (min-width: 768px) {
		#page-header .navbar-nav .navbar-text,
		#page-header .navbar-nav a {
			margin: 20px 5px;
		}
	}
	@media (min-width: 992px) {
		#page-header .navbar-nav .navbar-text,
		#page-header .navbar-nav a {
			margin: 20px 15px;
		}
	}
	#page-header .navbar-nav a:hover {
		border-width: 5px;
		padding: 0;
		line-height: 40px;
	}
	#page-header .navbar-nav a.active {
		background-color: #000;
		color: #fff;
	}
	#page-header .navbar-nav .navbar-text {
		border-color: #aaa;
		color: #aaa;
	}
	.navbar-brand {
		height: auto;
		margin-left: 20px;
	}
	.navbar-toggle {
		margin: 30px;
	}

.navbar-nav > li {
	float: left;
	width: 20%;
	text-align: center;
}
@media (min-width: 768px) {
	.navbar-nav > li {
		width: auto;
	}
}

/* Details page */
.b-heading {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px #eee dashed;
	text-align: center;
}
	.b-heading__title {
		font-size: 8em;
		text-transform: uppercase;
		letter-spacing: -5px;
	}
	.b-heading__subtitle {
		font-size: 30px;
		text-transform: uppercase;
		line-height: 1;
	}
	.b-heading__descr {
		font-size: 1.5em;
		width: 74%;
		margin: 0 auto;
		margin-top: 1em;
	}

/* Details carousel */
.caption-background {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	height: 110px;
}
.carousel-caption p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.b-date {
	text-align: left;
	text-transform: uppercase;
	line-height: 1;
}
	.b-date__day {
		display: block;
		font-size: 32px;
		color: #666;
	}
	.b-date__month {
		display: block;
		font-size: 12px;
		letter-spacing: 6px;
	}
	.b-date__year {
		display: block;
		font-size: 16px;
		color: #aaa;
	}

/* Footer */
#page-footer {
	background-color: #36424d;
	color: #fff;
	padding: 3em 0;
	margin-top: 3em;
	text-align: center;
}

/* Index */
.index-steps .thumbnail {
	border: 0;
	border-radius: 0;
	text-align: center;
}
.index-steps .nr {
	display: block;
	width: 160px;
	height: 160px;
	line-height: 160px;
	text-align: center;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #ccc;
	font-size: 120px;
	color: #fff;
}
